extends ../layouts/page-list
block content
    .container
        .page-list
            .page-list-header
                .page-list-link-title
                    | Страница и ссылка
                .page-list-progress-title
                    | Верстка десктопная
                .page-list-progress-title
                    | Верстка мобильная
            .page-list-title Публичная часть
            .page-list-body
                -
                    var pages = [
                        {title: 'Главная', href: 'main.html', desktop: '-', mobile: '-'},
                        {title: 'Новости - список', href: 'news.html', desktop: '-', mobile: '-'},
                        {title: 'Новости - детальная', href: 'news-detail.html', desktop: '-', mobile: '-'},
                        {title: 'О нас', href: 'about-us.html', desktop: '-', mobile: '-'},
                        {title: 'Каталог', href: 'catalog.html', desktop: '-', mobile: '-'},
                        {title: 'Каталог - Марки', href: 'catalog-mark.html', desktop: '+', mobile: '+'},
                        {title: 'Каталог - Маркоразмер', href: 'catalog-marksize.html', desktop: '+', mobile: '+'},
                        {title: 'Заказчикам', href: 'customers.html', desktop: '+', mobile: '+'},
                        {title: 'Поставщикам', href: 'suppliers.html', desktop: '+', mobile: '+'},
                        {title: 'Техподдержка', href: 'support.html', desktop: '+', mobile: '+'},
                        {title: 'Тарифы', href: 'tariffs.html', desktop: '+', mobile: '+'},
                        {title: 'Котировки', href: 'quotes.html', desktop: '+', mobile: '+'},
                        {title: 'Регистрация', href: 'registration.html', desktop: '+', mobile: '+'},
                        {title: 'Нормативная база ГК и 223-ФЗ', href: 'laws.html', desktop: '+', mobile: '+'},
                        {title: 'Нормативная база ГК и 223-ФЗ - детальная', href: 'laws-detail.html', desktop: '+', mobile: '+'},
                        {title: 'Реестр компаний', href: 'companies.html', desktop: '+', mobile: '+'},
                        {title: 'Реестр компаний - Компания', href: 'companies-detail.html', desktop: '+', mobile: '+'},
                        {title: 'Восстановление пароля', href: 'forgot-password-change.html', desktop: '+', mobile: '+'},
                        {title: 'Торговая площадка - Процедуры', href: 'marketplace.html', desktop: '+', mobile: '+'},
                        {title: 'Торговая площадка - Процедуры - Детальная', href: 'marketplace-detail.html', desktop: '-', mobile: '-'},
                        {title: 'Электронная подпись', href: 'digital-signature.html', desktop: '+', mobile: '+'},
                    ];
                each page in pages
                    .page-list-item
                        .page-list-link-box
                            a.page-list-link(href = page.href)
                                | #{page.title}
                        .page-list-progress
                            .page-list-progress-item
                                | #{page.desktop}
                            .page-list-progress-item
                                | #{page.mobile}

            -
                var admin = {title: 'Личный кабинет', href: '/personal', desktop: '-', mobile: '-'};
            .page-list-title Личный кабинет Заказчика/Поставщика (роут работает только на локальном сервере или сервере для показа)
            .page-list-body
                .page-list-item
                    .page-list-link-box
                        a.page-list-link(href = admin.href)
                            | #{admin.title}
                    .page-list-progress
                        .page-list-progress-item
                            | #{admin.desktop}
                        .page-list-progress-item
                            | #{admin.mobile}
